/* Paleta de colores */
@font-face {
    font-family: 'Rock Salt';
    src: url(fonts/RockSalt-Regular.woff) format('woff'),
        url(fonts/RockSalt-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vidaloka';
    src: url(fonts/Vidaloka-Regular.woff2) format('woff2'),
        url(fonts/Vidaloka-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reenie Beanie';
    src: url(fonts/ReenieBeanie.woff2) format('woff2'),
        url(fonts/ReenieBeanie.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fascinate';
    src: url(fonts/Fascinate-Regular.woff2) format('woff2'),
        url(fonts/Fascinate-Regular.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitcount Single';
    src: url(fonts/BitcountSingle-Regular.woff2) format('woff2'),
        url(fonts/BitcountSingle-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #FF6B6B;      
    --secondary: #4ECDC4;    
    --accent: #FFE66D;           
    --dark: #292F36;         
    --light: #F7FFF7;        
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dark);   
    color: var(--light);              
}

header h1 {
    font-family:'Reenie Beanie', sans-serif;
    color: var(--accent);            
    font-size: 100px;
}

.sidebar {
    width: 250px;
    background-color: var(--secondary);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li a:hover {
    background-color: var(--primary);   
}

#main-view {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--secondary); 
    margin: 40px;
}

header {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-bottom: 20px;
background-color: var(--dark);
}

.home-intro {
    line-height: 1.6;
    font-size: 1.1rem;
    color: var(--light);

}

.home-intro p {
margin-bottom: 15px;
font-family: 'Vidaloka';
font-size: 25px;
}

.section-intro {
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #172554;
}
.section-intro h2 {
    font-family: 'Rock Salt';
    font-size: 2rem;
    margin-bottom: 15px;
    color:#172554;
}

.section-intro p {
    font-family: 'Vidaloka';
    font-size: 1.5rem;
}


.container {
    display: flex;
    min-height: 100vh;
}

.sidebar h2 {
    color: var(--accent);
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: white;
    font-family:'Bitcount Single';
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
}

.content {
    flex: 1;
    padding: 0;
}

.site-header{
    background-color: var(--dark);
    padding: 25px 40px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2 );
}
